/* Animated background */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
   
    background-size: 400% 400%;
    animation: gradientBG 5s ease infinite;
  }
  
  /* Centered content */
  .loading-content {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Gradient animation */
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  