.restaurant-container {
    width: 100%;
    margin: 2% 0;
    padding: 0 2%;
  }
  
  .business-info {
    margin: 10px 0;
  }
  
  .main-category-section {
    margin: 10px 0;
  }
  
  .search-section {
    margin-top: 20px;
    margin-bottom: 0;
  }
  
  .category-or-item-view {
    margin: 10px 0;
  }
  
  footer {
    text-align: center;
    color: #333;
  }
  